@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

* {
  color: #414141;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #393b3b;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

button {
  font-family: "Raleway", sans-serif;
  background-color: #248f8f;
  color: #1f1f1f;
}

button:hover {
  color: #e6e8e8;
  background-color: #1d7272;
}
